body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin{
    margin: 100px;
}

.table{
    width: 100%;
    text-align: left;
}

.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu{
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
}

#menu a{
    color: aliceblue;
    padding-right: 50px;
}

body{
    margin: 0;
}

.center{
    text-align: center;
}

.rojo{
    color: rgba(255, 0, 0, 0.75);
}

.pub_titulo {
    border-top: 1px solid black;
    cursor: pointer;
}

li {
    margin: 15px 0 15px 0;
}

.contenedor_tareas{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 70px;
}

.m_left{
    margin-left: 20px;
}
